<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Clock Angle</title>
</head>
<body>
    <div class='container'>
        <h1>Clock Angle</h1>
            <h3>{{ degrees }}</h3>
        <a href='/'>tell it again</a>
    </div>
</body>
</html>
