//how can i limit the numbers available in the menu and/or alter it to specific options?

<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Clock Angle</title>
</head>
<body>
    <div class = 'container'>
        <h1>Clock Angle</h1>
            <h2>describe ...</h2>
            <form action=/clock role='form'>
                <div class='form-group'>
                    <label for='time'>Time:</label>
                    <input id='hour' name='hour' class='form-control' type='number' placeholder='hour'>
                    <input id='minute' name='minute' class='form-control' type='number' placeholder='minute'>
                    <button type='submit' class='btn-success'>let the clock tell it</button>
                </div>
            </form>
    </div>
</body>
</html>
